@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}
.wrape {
    overflow: scroll;
}
/* for loader style start  */
.mainLoader{
    transition: all 5s ease;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgb(235, 240, 243);
    z-index: 1002;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.mainLoader.active{
    display: flex;
    opacity: 1;
}
.mainLoader .loaderBlog{
    position: relative;
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 50%;
    animation: loaderAnimate 4s infinite linear;
}
@keyframes loaderAnimate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(3600deg);
    }
}
.mainLoader .loaderBlog .loaderItem{
    position: absolute;
    width: 6px;
    height: 30px;
}
.mainLoader .loaderBlog .loaderItem:nth-child(1){
    background: rgba(6, 1, 51, 0.05);
    border-radius: 3px;
    transform: rotate(-30deg);
    top: -20px;
    left: 0px;
}
.mainLoader .loaderBlog .loaderItem:nth-child(2){
    background: rgba(6, 1, 51, 0.1);
    border-radius: 3px;
    top: -25px;
    left: 12px;
    transform: rotate(-10deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(3){
    background: rgba(6, 1, 51, 0.15);
    border-radius: 3px;
    top: -27px;
    left: 22px;
}
.mainLoader .loaderBlog .loaderItem:nth-child(4){
    background: rgba(6, 1, 51, 0.2);
    border-radius: 3px;
    top: -25px;
    left: 33px;
    transform: rotate(15deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(5){
    background: rgba(6, 1, 51, 0.25);
    border-radius: 3px;
    top: -20px;
    left: 43px;
    transform: rotate(30deg);

}
.mainLoader .loaderBlog .loaderItem:nth-child(6){
    background: rgba(6, 1, 51, 0.30);
    border-radius: 3px;
    top: 2px;
    right: -21px;
    width: 30px;
    height: 6px;
    transform: rotate(-30deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(7){
    background: rgba(6, 1, 51, 0.35);
    border-radius: 3px;
    top: 12px;
    right: -25px;
    width: 30px;
    height: 6px;
    transform: rotate(-15deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(8){
    background: rgba(6, 1, 51, 0.40);
    border-radius: 3px;
    top: 22px;
    right: -26px;
    width: 30px;
    height: 6px;
}
.mainLoader .loaderBlog .loaderItem:nth-child(9){
    background: rgba(6, 1, 51, 0.45);
    border-radius: 3px;
    top: 32px;
    right: -25px;
    width: 30px;
    height: 6px;
    transform: rotate(15deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(10){
    background: rgba(6, 1, 51, 0.50);
    border-radius: 3px;
    top: 42px;
    right: -20px;
    width: 30px;
    height: 6px;
    transform: rotate(30deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(11){
    background: rgba(6, 1, 51, 0.75);
    border-radius: 3px;
    bottom: -20px;
    left: 2;
    transform: rotate(30deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(12){
    background: rgba(6, 1, 51, 0.70);
    border-radius: 3px;
    bottom: -25px;
    left: 10px;
    transform: rotate(15deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(13){
    background: rgba(6, 1, 51, 0.65);
    border-radius: 3px;
    bottom: -26px;
    left: 22px;
}
.mainLoader .loaderBlog .loaderItem:nth-child(14){
    background: rgba(6, 1, 51, 0.6);
    border-radius: 3px;
    bottom: -25px;
    left: 33px;
    transform: rotate(-15deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(15){
    background: rgba(6, 1, 51, 0.55);
    border-radius: 3px;
    bottom: -20px;
    left: 43px;
    transform: rotate(-30deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(16){
    background: rgba(6, 1, 51, 1);
    border-radius: 3px;
    top: 2px;
    left: -21px;
    width: 30px;
    height: 6px;
    transform: rotate(30deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(17){
    background: rgba(6, 1, 51, 0.95);
    border-radius: 3px;
    top: 12px;
    left: -25px;
    width: 30px;
    height: 6px;
    transform: rotate(15deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(18){
    background: rgba(6, 1, 51, 0.90);
    border-radius: 3px;
    top: 22px;
    left: -27px;
    width: 30px;
    height: 6px;
}
.mainLoader .loaderBlog .loaderItem:nth-child(19){
    background: rgba(6, 1, 51, 0.85);
    border-radius: 3px;
    top: 32px;
    left: -25px;
    width: 30px;
    height: 6px;
    transform: rotate(-15deg);
}
.mainLoader .loaderBlog .loaderItem:nth-child(20){
    background: rgba(6, 1, 51, 0.80);
    border-radius: 3px;
    top: 42px;
    left: -20px;
    width: 30px;
    height: 6px;
    transform: rotate(-30deg);
}
.asosiyQism .mainLoader{
    position: absolute;
    right: 0;
    width: 80%;
    height: 100vh;
    padding-top: 100px;
    z-index: 998;
    display: none;
    background: rgb(208, 222, 238);
    transition: all 5s ease;
    opacity: 0;
}
.asosiyQism .mainLoader.active{
    transition: all 5s ease;
    display: flex;
    opacity: 1;
}

/* for loader style end  */
.mainBlok{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    padding-top: 200px;
    height: 100vh;
    background: url('../image/forBanner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mainBlok.active{
    display: none;
}
.mainBlok .banner{
    padding: 80px 30px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background: rgba(6, 1, 51, 0.6);
    border-radius: 20px;
}
.banner .bannerTitle{
    font-size: 28px;
    color: #fff;
    margin-top: 20px;
    padding: 0 15px;
}
.banner .bannerBtn{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background: rgb(0, 60, 255);
    width: 30%;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(255, 255, 255, .6);
}
.banner .bannerBtn .forAnimate{
    position: absolute;
    top: -50px;
    left: -100px;
    width: 40px;
    height: 200px;
    background: rgba(255, 255, 255, 0.466);
    transform: rotate(30deg);
    animation-name: anmateBtn;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes anmateBtn{
    0%{
        left: -100px;
    }
    100%{
        left: 300px;
    }
}
.mainBlok .banner img{
    width: 30%;
}
.asosiyQism.active{
    display: none;
}
.header{
    background: #fff;
    z-index: 999;
    width: 80%;
    height: 80px;
    text-align: center;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(6, 1, 51, 0.466);
}
.header h2{
    font-size: 24px;
    font-weight: 500;
}
.allMenu{
    background: rgb(26,43,99);
    height: 100vh;
    padding: 20px 0;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
}
.allMenu .logo{
    text-align: center;
    width: 100%;
}
.allMenu .logo img{
    width: 30%;
    object-fit: cover;
}
.mainSection{
    transition: all 0.3s ease;
    background: rgb(230, 234, 236);
    z-index: -1;
    height: 100vh;
    padding: 120px 60px 50px 60px;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    overflow: hidden;
}
.mainSection.fakultetlar{
    transition: all 0.3s ease;
    display: none;
}

.mainSection.tabiiy{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.matematika{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.pedagogika{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.xorijiy{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.boshlangich{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.maktabgacha{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.filologiya{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.jismoniy{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.tarix{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.magistratura{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.sirtqi{
    transition: all 0.3s ease;
    display: none;
}

/* cousies section start  */
.mainSection.MatematikaCouse{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.tabiiyFull.first{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.tabiiyFull.second{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.pedagogikaFull.forPedBtn{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.pedagogikaFull.tasviriyBtn{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.pedagogikaFull.texnologikBtn{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.pedagogikaFull.psixologiyaBtn{
    transition: all 0.3s ease;
    display: none;
}
.mainSection.pedagogikaFull.musiqaBtn{
    transition: all 0.3s ease;
    display: none;
}

/* cousies section end  */


.mainSection .facultiesItem{
    padding: 0 30px;
}
.mainSection .facultiesItem .itemList{
    cursor: pointer;
    transition: all .3s ease;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 5px rgba(6, 1, 51, 0.466);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.mainSection .facultiesItem .itemList:hover{
    background: rgb(26,43,99);
}
.mainSection .facultiesItem .itemList:hover .facListItem{
    color: #fff;
}
.mainSection .facultiesItem .facListItem{
    font-size: 20px;
    font-weight: 500;
    color: rgb(26,43,99);
}
.mainSection .itemList  .facImage{
    margin-right: 15px;
    background: #fff;
    width: 7%;
    overflow: hidden;
    border-radius: 50%;
    padding: 20px;
}
.mainSection .itemList img{
    width: 100%;
    object-fit: cover;
}
.mainSection .item{
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: -1;
    width: 250px;
    height: 250px;
    background: #fff;
    box-shadow: 0 0 10px rgba(6, 1, 51, 0.466);
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.mainSection .item:hover{
    background: rgb(26,43,99);
}
.mainSection .item:hover .itemTitle{
    color: #fff;
}
.mainSection .item img{
    margin-bottom: 20px;
    width: 40%;
    object-fit: cover;
}
.mainSection .item .itemTitle{
    font-size: 20px;
}
.allMenu .mainList{
    transition: all .3s ease;
    margin-top: 30px;
    padding-left: 0;
}
.allMenu .mainList.mainMenu{
    display: none;
}
.allMenu .mainList.faculties{
    display: block;
}
.allMenu .mainList.mainMenu li{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
}
.allMenu .mainList.mainMenu .secondList{
    background: rgb(230, 234, 236);
    color: rgb(26,43,99);
}
.allMenu .mainList.mainMenu .secondList i{
    color: #ffa600;
}
.allMenu .mainList.mainMenu li i{
    color: #ffee00;
}
.allMenu .mainList li{
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    list-style: none;
    padding: 12px 0 12px 15px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 100%;
}
.allMenu .mainList li:hover{
    color: #ffa600;
}
.allMenu .mainList li:hover i{
    color: #ffa600;
}
.allMenu .mainList li i{
    margin-right: 15px;
    color: #ffee00;
    font-size: 20px;
}